body {
    font-size: 18px;
    line-height: 130%;
}

.nav li {
    margin-top: 10px;
}

.navbar-toggle {
    margin-top: 20px;
}

.jumbotron {
    margin-top: 60px;
}

.content .section {
    margin-top: 40px;
}

.content .section:before {
    /* Pad headers so that the navbar doesn't headbutt them */
    /* (Thx to Chris Coyer on CSS-Tricks for the elegant sol'n) */
    /* https://css-tricks.com/hash-tag-links-padding/ */
    display: block;
    content: " ";
    margin-top: -55px;
    height: 55px;
    opacity: 0;
    pointer-events: none;
}

.content h1, .content h2, .content h3,
.content h4, .content h5 {
    margin-bottom :25px;
}

.content p,
.content ul {
    margin-bottom: 25px;
}

.content p,
.content li {
    font-size: 1.2em;
    line-height: 150%;
}

.content li {
    margin-bottom: 10px;
}

.footer-text {
    padding-top:20px;
    padding-bottom:10px;
    background-color: #ededed;
}
