body {
    font-size: 18px;
    line-height: 130%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Rubik', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.brand {
    font-family: 'Archivo Black', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-left: 5px;
}

/* Align subtitle with title */
@media (min-width: 462px) {
    .subtitle-brand {
        margin-left: 40px;
    }
}

.nav li {
    margin-top: 10px;
}

.navbar-header a:hover,
.navbar-header a:focus {
    text-decoration: none;
}

.navbar-toggle {
    margin-top: 20px;
}

.splash-photo {
    margin-top: 60px;
    background-image:
        linear-gradient(
          rgba(0, 0, 0, 0.6),
          rgba(0, 0, 0, 0.6)
        ),
        url('/images/newsroom.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 350px;
}

.motto {
    color: white;
    background: #333;
    padding: 10px;
    line-height: 150%;
}

.content .section {
    margin-top: 40px;
    margin-bottom: 60px;
}

.row.accent {
    background-color: #333;
    color: white;
}

.splash-motto,
.row.accent h2 {
    color: #ff8700;
}

a {
    color: #1528ba;
}

.row.accent a {
    color: #8592f8;
}

.row.accent a:hover,
.row.accent a:focus {
    color: #c8cefb;
}

.content .section:before {
    /* Pad headers so that the navbar doesn't headbutt them */
    /* (Thx to Chris Coyer on CSS-Tricks for the elegant sol'n) */
    /* https://css-tricks.com/hash-tag-links-padding/ */
    display: block;
    content: " ";
    margin-top: -70px;
    height: 70px;
    opacity: 0;
    pointer-events: none;
}

.content h1, .content h2, .content h3,
.content h4, .content h5 {
    margin-bottom :25px;
}

.content p,
.content ul {
    margin-bottom: 25px;
}

.content p,
.content li {
    font-size: 1.2em;
    line-height: 150%;
}

.content li {
    margin-bottom: 10px;
}

.partner-logos img {
    margin-right: 50px;
    margin-top: 25px;
    display: inline;
    max-height: 60px;
    max-width: 100%;
    opacity: 0.8;
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

img.big-logo {
    max-height: 50px;
}

img.small-logo {
    max-height: 80px;
}

.partner-logos img:hover {
    -webkit-filter: grayscale(0);
    filter: none;
    opacity: 1;
}

.partner-logos a:hover {
    text-decoration: none;
}

.table-indent {
    margin-left: 15px;
}

.underlined {
    border-bottom: 1px solid #333;
}

.footer-text {
    padding-top:20px;
    padding-bottom:10px;
    background-color: #ededed;
}
