body {
    font-size: 18px;
    line-height: 130%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Rubik', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.brand {
    font-family: 'Archivo Black', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.nav li {
    margin-top: 10px;
}

.navbar-toggle {
    margin-top: 20px;
}

.jumbotron {
    margin-top: 60px;
}

.content .section {
    margin-top: 40px;
    margin-bottom: 60px;
}

.content .section:before {
    /* Pad headers so that the navbar doesn't headbutt them */
    /* (Thx to Chris Coyer on CSS-Tricks for the elegant sol'n) */
    /* https://css-tricks.com/hash-tag-links-padding/ */
    display: block;
    content: " ";
    margin-top: -55px;
    height: 55px;
    opacity: 0;
    pointer-events: none;
}

.content h1, .content h2, .content h3,
.content h4, .content h5 {
    margin-bottom :25px;
}

.content p,
.content ul {
    margin-bottom: 25px;
}

.content p,
.content li {
    font-size: 1.2em;
    line-height: 150%;
}

.content li {
    margin-bottom: 10px;
}

.partner-logos img {
    margin-right: 50px;
    margin-top: 25px;
    display: inline;
    max-height: 60px;
    opacity: 0.8;
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

.partner-logos img:hover {
    -webkit-filter: grayscale(0);
    filter: none;
    opacity: 1;
}

.table-indent {
    margin-left: 15px;
}

.footer-text {
    padding-top:20px;
    padding-bottom:10px;
    background-color: #ededed;
}
